

/** Product
===================================*/
#healthy .bx-controls .bx-pager-link,
#products .bx-controls .bx-pager-link {
    text-indent: -777em;
    border-radius: 50%;
    box-shadow: inset 4px 4px 10px 2px rgba(50, 50, 50, .4)
}

#products {
   /* margin: -80px auto 0;*/
    position: relative;
   /* visibility: hidden;*/
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  
}

#products h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase
}


#boxContent {

    background: url(../../../images/global/box-content.png) 50% 0 no-repeat;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    height: 1024px;
    -webkit-transition: max-height .7s .5s;
    transition: max-height .7s .5s
}

#boxContent>div {
    opacity: 0;
    padding-top: 50px;
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

#boxContent.open {
    max-height: 1000px;
    -webkit-transition: max-height 1s;

}

#boxContent.open>div {
    opacity: 1;
    -webkit-transition: opacity 1s .4s;
    transition: opacity 1s .4s
}

#boxContent .close {
    background: url(../../../images/global/bt-close1.png) no-repeat;
    height: 42px;
    position: absolute;
    right: 5%;
    top: 50px;
    width: 41px;
    z-index: 1;
}


#boxContent .productDetail {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    left: 0;
    line-height: 1;
    padding: 20px 0;
    position: absolute;
    right: 0
}

#boxContent .productDetail h2 {
    color: #000;
    font-size: 48px
}

#boxContent .productDetail h2:first-line {
    font-size: 70px;
    line-height: .7
}

#enjoyLife .enjoyLifeSlide p,
#section1 p {
    line-height: 1
}

#boxContent .productDetail h3 {
    color: #cf000c;
    font-size: 36px;
    margin: 10px 0
}

#boxContent .productDetail li {
    color: #323232;
    font-size: 24px;
    padding: 1px 20px;
    position: relative
}

#boxContent .productDetail li:before {
    /*  content: '\2022';*/
    left: 0;
    position: absolute;
    top: 1px
}

#boxContent .original {
    height: 770px;
    margin: 0 auto;
    max-width: 1632px

}

#boxContent .original .productDetail {
    margin-left: 52.51%;
    top: 65.3%

}

#boxContent .VitamilkProduct {
/*    background: url(../../../../images/product/vitamilk/low-sugar.png) 50% -100px/1000px auto no-repeat;*/
    height: 500px;
    margin: 0 auto;
    max-width: 1592px
}

#boxContent .VitamilkProduct .productDetail {
    margin-left: 51.32%;
    top: 58.4%
}


ol, ul {
    list-style: none;
}

#enjoyLife,
#section1 {
    margin: -100px auto 0
}

#section1 {
    background: url(../../../images/product/vitamilk/soy.png) 100% 0 no-repeat;
    height: 544px;
    max-width: 1340px;
    padding-top: 200px;
}

#section1 .product-moblie {
    padding-top:0;
}

.section-content{
    position: relative;
    right: 25px;
}

#section1 h2 {
    font-size: 44px
}

#section1 p {
    font-size: 24px;
    position: relative
}

#section1 p:after,
#section1 p:before {
    background: red;
    content: '';
    position: relative
}

#enjoyLife {
    background: url(../../../images/product/vitamilk/enjoy-life.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 507px;
    max-width: 1777px
}

#enjoyLife>.inner {
    width: 1014px
}
#enjoyLife .content-enjoy {
      position: relative;
    right: 60px;
}

#enjoyLife .content-enjoy h2{
         color: #000;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 100px
}
#equation {
    height: 363px;
    margin: -200px auto 0;
    max-width: 100%;
}

.headingMain {
    border-top: 1px solid #cf000c;
    font-size: 40px;
    height: 8px;
 /*   margin: 20px -43px 0;*/
    text-align: center
}

.headingMain span {
    background-color: #fff;
    color: #cf000c;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    top: -30px
}

#healthy {
    margin: auto;
    width: 100%;
}

.title-box .text {
    background: url(../../../images/product/vitamilk/shape1.png) 0 100% no-repeat;
    bottom: 0px;
    color: #fff;
    height: 25px;
    left: 0;
    padding-left: 5px;
    position: absolute;
    right: 0;
    background-size: cover;
    margin: auto;
}
.doubleblack{
    position: relative;
    bottom: 200px;
    height: 230px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#section1 {
    background: url(../../../images/product/vitamilk/soy.png) 100% 0 no-repeat;
    height: 544px;
    max-width: 1340px;
    padding-top: 100px;
}
  #enjoyLife  {
    background: url(../../../images/product/vitamilk/enjoy-life.png)20% 0 no-repeat;
    font-size: 22px;
    max-width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
}

#enjoyLife .content-enjoy h2 {
    color: #000;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 0; 
}
#enjoyLife .content-enjoy {
    position: relative;
    right: 0;
}
  #boxContent {

    background: url(../../../images/global/box-content.png) 50% 0 no-repeat;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    height: 1366px;
    -webkit-transition: max-height .7s .5s;
    transition: max-height .7s .5s
}
    #boxContent.open {
        max-height: 1366px;
        -webkit-transition: max-height 1s;

    }
    .doubleblack {
    position: relative;
    padding-top: 250px;
    padding-bottom: 0;
    height: 0;
}
#healthy {
    margin: auto;
    width: 100%;
    position: relative;
    bottom: 60px;
}
}
.colorRed {
    color: #e31c23;
}



