
/** History
===================================*/
#history {
   /* background: url(../../images/global/soy.png) 90% 0 no-repeat;*/
    margin: 0 auto;
    width: 100%;
}
#history h2 {
    font-size: 45px
}

#history>p {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 20px
}

#history .container {
height: 650px;
}
.history-content{
     position: relative;
    bottom: 125px;
    left: 20px;

}
.history-content p{
    font-size: 22px;
}
#vmp {
    background: url(http://greenspot.co.th/images/about/shape1.png) 50% 0 no-repeat;
    margin: 20px auto 0;
    min-height: 864px;
    max-width: 1531px;
    padding-top: 77px;
}
#vmp #mission p,
#vmp #popularity p {
    float: left;
    margin-left: 69px
}
#vmp .inner {
    width: 824px
}
#vmp h2 {
    font-size: 37px
}
#vmp p {
    color: #fff;
    font-size: 25px;
    line-height: 1
}
#vmp #vision {
   /* background: url(../images/about/open-quote-green.png) no-repeat, url(../images/about/close-quote-green.png) 40% 97% no-repeat;*/
    margin-top: -20px;
    padding-left: 47px
}
#vmp #mission,
#vmp #popularity {
    /* margin-top: 20px; */
    padding-left: 47px
}
#vmp #mission {
    /*background: url(../images/about/open-quote-white.png) 80px 45px no-repeat, url(../images/about/close-quote-white.png) 77% 85% no-repeat*/
}
#vmp #mission h2,
#vmp #popularity h2 {
    float: left
}
#vmp #mission p {
    font-size: 45px
}
#vmp #popularity {
   /* background: url(../images/about/open-quote-green.png) 150px 0 no-repeat, url(../images/about/close-quote-green.png) 67% 86% no-repeat*/
}
#vmp #popularity .l1 {
    font-size: 39px
}
#vmp #popularity .l2 {
    font-size: 57px
}
#vmp #chart {
    display: block;
    margin: 130px auto 0
}
#reward {
    margin: 130px auto 50px;
    width: 100%;
}
#reward .number {
    float: left;
    font-size: 25px;
    line-height: 1;
    margin: 20px 0 30px;
    padding: 25px 0 0 80px;
    position: relative;
    text-transform: uppercase;
    width: 50%
}
#reward .number:before {
    content: '';
    color: #ff7f00;
    font-size: 150px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0
}
#reward .number.a:before {
    content: '1'
}
#reward .number.b:before {
    content: '2'
}
#reward .number.c:before {
    content: '3'
}
#reward .number.d:before {
    content: '4'
}
#reward .number.e:before {
    content: '5'
}
#reward .number.f:before {
    content: '6'
}
#reward .number.g:before {
    content: '7'
}
#reward .number.h:before {
    content: '8'
}
#reward .number>span {
    display: block;
    padding-left: 95px;
    position: relative
}
#reward .number>span>label {
    color: #ff7f00;
    display: inline-block;
    min-width: 95px;
    left: 0;
    position: absolute;
    top: 0
}


.colorOrange {
    color: #ff8300;
}

#container {
    max-width: 2000px;
    position: relative;
}
#container, .inner {
    margin: 0 auto;
}

  .headingMain {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
       margin: auto;
}

.headingMain > span {
    position: relative;
    display: inline-block;
    font-size: 48px;
    text-transform: uppercase;
    color: #ff8300;
    background: #fff;
}

.headingMain > span:before,
.headingMain > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 513.5px;
    height: 5px;
    background: #ff7f00;
}

.headingMain > span:before {
    right: 100%;
    margin-right: 15px;
}

.headingMain > span:after {
    left: 100%;
    margin-left: 15px;
}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #history .container {
    height: 100%;
    }
    .history-content{
    position: relative;
    bottom: 0;
    left: 0;
    }
    /*--About--*/
  #boxcontent {
    background-color: #b5ca5e;
    margin: auto;
  }
    #moblie img{
        padding-top: 350px;margin: auto;
    }
    #rewardmoblie {
    margin: 130px auto 50px;
    width: 100%;
    }
    #rewardmoblie .number {
      /*  float: left;*/
        font-size: 25px;
        line-height: 1;
        margin: 20px 0 30px;
        padding: 25px 0 0 80px;
        position: relative;
        text-transform: uppercase;
        width:100%;
    }
    #rewardmoblie .number:before {
        content: '';
        color: #ff7f00;
        font-size: 150px;
        left: 0;
        line-height: 1;
        position: absolute;
        top: 0
    }
    #rewardmoblie .number.a:before {
        content: '1'
    }
    #rewardmoblie .number.b:before {
        content: '2'
    }
    #rewardmoblie .number.c:before {
        content: '3'
    }
    #rewardmoblie .number.d:before {
        content: '4'
    }
    #rewardmoblie .number.e:before {
        content: '5'
    }
    #rewardmoblie .number.f:before {
        content: '6'
    }
    #rewardmoblie .number.g:before {
        content: '7'
    }
    #rewardmoblie .number.h:before {
        content: '8'
    }
    #rewardmoblie .number>span {
        display: block;
        padding-left: 95px;
        position: relative
    }
    #rewardmoblie .number>span>label {
        color: #ff7f00;
        display: inline-block;
        min-width: 95px;
        left: 0;
        position: absolute;
        top: 0
    }
}
