/** Hero Banner
===================================*/

.herodesktop {
    width: 100%;
    padding: 0 0;
    margin-top: -75px;
    overflow: hidden;
}

.heromoblie{
    width: 100%;
    padding: 0 0;
    margin-top: -75px;
    margin-top: 50px;
    min-height: 171px;
}


 
/** Content
===================================*/
#Content{
    background: url(../../images/main/content.png) 50% 100% no-repeat;
    margin: 0 auto 20px;
       width: auto;
    min-height: auto;
  
}
#Content #promotionBox, #Content #tvcBox {
    background: url(../../images/global/bottom-shadow.png) 50% 100% no-repeat;
    background-size: contain;
    float: left;
    margin: 0 22px;
    padding-bottom: 17px;
    width: 477px;
}
#Content #promotionBox h2, #Content #tvcBox h2 {
    font-size: 46px;
    text-transform: uppercase;
}
.colorGreen {
    color: #00874e;
}
.colorOrange {
    color: #ff8300;
}
#enjoyLife{
        padding-top: 20px;
}

 #DenjoyLifeRandom.enjoyLifeRandom {
    color: #fff;
    padding: 20px;
    width: 100%;
}
.img-center{
     padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Content #enjoyLife {
position: relative;
    margin: 0 auto;
    width: 100%;
        top: 45px;
 /*   left: 145px;*/
}
#Content .enjoyLifeRandom .viewDetail {
    background: url(../../images/global/icon-plus.png) 93% 50% no-repeat;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin-top: 15px;
    padding: 4px 35px 4px 15px;
}
#Content .enjoyLifeRandom h3 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 15px;
}

#Content .enjoyLifeRandom p {
    font-size: 18px;
    line-height: 1;
}

/** socialNetwork
===================================*/

#socialNetworkSlide{
  padding-top: 30px;
}

.headingMain {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
       margin: auto;
}

.headingMain > span {
    position: relative;
    display: inline-block;
    font-size: 48px;
    text-transform: uppercase;
    color: #ff8300;
    background: #fff;
}

.headingMain > span:before,
.headingMain > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 513.5px;
    height: 5px;
    background: #ff7f00;
}

.headingMain > span:before {
    right: 100%;
    margin-right: 15px;
}

.headingMain > span:after {
    left: 100%;
    margin-left: 15px;
}


#container {
    max-width: 2000px;
    position: relative;
}
#container, .inner {
    margin: auto;
    /* padding-right: 14px; */
    padding: 0;
    width: 1030px;
}

#delivery {
    padding: 20px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#delivery h2 {
 /*   background: url(../../images/global/heading-follow.png) 50% 0 no-repeat;*/
    height: 50px;
    margin: 0 auto;
}

#delivery h2 a {
    display: block;
    height: 100%;
}

.img-box{
    padding:0px; 
}
.box-content:first-child{
    display: block;
    width: 500px;
    background-color: #ff8300;
    height: 295px;
    margin: auto;
   
}
.box-content:nth-child(2){
    display: block;
    width: 500px;
    background-color: #00874e;
    height: 295px;
    margin: auto;

}
.box-shadow{
    position:relative;
    background: url(../../images/global/bottom-shadow.png) 50% 100% no-repeat;
    padding-bottom: 25px;
}
.text {
    color: #fff;
    display: block;
    font-size: 20px;
    height: 200px;
    line-height: 20px;
    overflow: hidden;
    padding: 20px 20px 0 0;
}

  .img-enjoylife {
           width: 380px;
    margin-left: 100px;
    float: right;
    }




/*-- Custom Slide --*/
#socialNetwork .owl-theme .owl-dots {
    display: block;
    position: absolute;
    right: 5px;
    top: -5px;
}

#socialNetwork .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff8300;
}

#socialNetwork .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #00874e;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

 /* Portrait and Landscape */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {

#Content #promotionBox, #Content #tvcBox {
    background: url(../../images/global/bottom-shadow.png) 50% 100% no-repeat;
    background-size: contain;
    float: left;
    margin: 0px;
    padding-bottom: 17px;
    width: 100%;
}

 .inner {
    margin: auto;
    /* padding-right: 14px; */
    padding: 0;
    width: 100%;
}
   #MenjoyLifeRandom.enjoyLifeRandom {
        color: #fff;
        padding-bottom: 40px;
        width: 100%;
    }
#Content .enjoyLifeRandom .viewDetail {
    background: url(../../images/global/icon-plus.png) 93% 50% no-repeat;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    /* margin-top: 15px; */
    padding: 4px 35px 4px 15px;
}
 

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px){

    #container, .inner {
        margin: auto;
        /* padding-right: 14px; */
        padding: 0;
        width: 100%;
    }
    #Content #promotionBox, #Content #tvcBox {
        background: url(../../images/global/bottom-shadow.png) 50% 100% no-repeat;
        background-size: contain;
        float: left;
        margin: auto;
        padding-bottom: 17px;
        width: 100%;
    }
     #MenjoyLifeRandom.enjoyLifeRandom {
        color: #fff;
        padding-bottom: 40px;
        width: 100%;
    }
    #Content .enjoyLifeRandom .viewDetail {
    background: url(../../images/global/icon-plus.png) 93% 50% no-repeat;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    /* margin-top: 15px; */
    padding: 4px 35px 4px 15px;
}
    #socialNetworkSlide {
        padding-top: 30px;
        width: 100%;
    }
   
}
