
header{
    float: left;
    height: 140px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
.logo-responesive{
     width: 50px;
     margin: 10px;
     padding: 5px;
}
body.main {
    background: url(http://greenspot.co.th/images/global/bg-page.png)  repeat-x #fff;
          
} 

#HeroDesktop {
    display: inline;
    transform: translate(0%, 25%)
}

.herodesktop{zoom: 75%;;position: initial;height: 750px;}
.heromobile{
    width: 145%;
    position: initial;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 750px;
}



/*--Desktop--*/
#HeroDesktop a {
    display: block;
    height: 85%;
}

#HeroDesktop .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroDesktop .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroDesktop .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroDesktop .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}
/*--Moblie--*/
#HeroMoblie a {
    display: block;
    height: 85%;
}

#HeroMoblie .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroMoblie .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroMoblie .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroMoblie .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}


#history {
    font-family: psl_kittithada_probold;
    background: url(../images/about/soy.png) 90% 0 no-repeat;
    margin: 0 auto;
    width: 985px
}
#history h2 {
    font-family: psl_kittithada_probold;
    font-size: 45px
}
#history>p {
    font-family: psl_kittithada_probold;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 20px
}
#vmp {
    background: url(../images/about/shape1.png) 50% 0 no-repeat;
    margin: 20px auto 0;
    min-height: 864px;
    max-width: 1531px;
    padding-top: 77px
}
#vmp #mission p,
#vmp #popularity p {
    float: left;
    margin-left: 69px
}
#vmp .inner {
    width: 824px
}
#vmp h2 {
    font-size: 37px
}
#vmp p {
    color: #fff;
    font-size: 25px;
    line-height: 1
}
#vmp #vision {
   /* background: url(../images/about/open-quote-green.png) no-repeat, url(../images/about/close-quote-green.png) 40% 97% no-repeat;*/
    margin-top: -20px;
    padding-left: 47px
}
#vmp #mission,
#vmp #popularity {
    /* margin-top: 20px; */
    padding-left: 47px
}
#vmp #mission {
    /*background: url(../images/about/open-quote-white.png) 80px 45px no-repeat, url(../images/about/close-quote-white.png) 77% 85% no-repeat*/
}
#vmp #mission h2,
#vmp #popularity h2 {
    float: left
}
#vmp #mission p {
    font-size: 45px
}
#vmp #popularity {
   /* background: url(../images/about/open-quote-green.png) 150px 0 no-repeat, url(../images/about/close-quote-green.png) 67% 86% no-repeat*/
}
#vmp #popularity .l1 {
    font-size: 39px
}
#vmp #popularity .l2 {
    font-size: 57px
}
#vmp #chart {
    display: block;
    margin: 130px auto 0
}
#reward {
    margin: 130px auto 50px;
    width: 1000px
}
#reward .number {
    float: left;
    font-size: 25px;
    line-height: 1;
    margin: 20px 0 30px;
    padding: 25px 0 0 80px;
    position: relative;
    text-transform: uppercase;
    width: 50%
}
#reward .number:before {
    content: '';
    color: #ff7f00;
    font-size: 150px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0
}
#reward .number.a:before {
    content: '1'
}
#reward .number.b:before {
    content: '2'
}
#reward .number.c:before {
    content: '3'
}
#reward .number.d:before {
    content: '4'
}
#reward .number.e:before {
    content: '5'
}
#reward .number.f:before {
    content: '6'
}
#reward .number.g:before {
    content: '7'
}
#reward .number.h:before {
    content: '8'
}
#reward .number>span {
    display: block;
    padding-left: 95px;
    position: relative
}
#reward .number>span>label {
    color: #ff7f00;
    display: inline-block;
    min-width: 95px;
    left: 0;
    position: absolute;
    top: 0
}
