#heroBanner,#heroBanner .bx-wrapper {
	position: relative;
}

#heroBanner,#socialNetwork .socialNetworkSlide {
	visibility: hidden;
}

body.main {
	background: url(../images/global/bg-page.png) repeat-x #fff;
}

#heroBanner {
	height: 720px;
	margin: 0 auto 20px;
	max-width: 1600px;
}

#heroBanner .p1 {
 /*  background: url('../../../../assets/images/hero/') 50% 0 no-repeat;*/
	height: 720px;
}

#heroBanner .p2 {
	/*background: url(../images/main/herobanner/vitamilk.png) 50% 0 no-repeat;*/
	height: 720px;
}

#heroBanner .p3 {
/*	background: url(../images/main/herobanner/vsoy.png) 50% 0 no-repeat;*/
	height: 720px;
}

#heroBanner .p1 a,#heroBanner .p2 a,#heroBanner .p3 a {
	display: block;
	height: 85%;
}

#heroBanner .bx-controls {
	bottom: 0;
	height: 138px;
	margin: auto 0;
	position: absolute;
	right: 30px;
	top: 0;
}

#content,#content #promotionBox .bx-wrapper,#content #tvcBox .bx-wrapper {
	position: relative;
}

#heroBanner .bx-controls .bx-pager-item {
	height: 16px;
	margin: 15px 0;
	width: 16px;
}

#heroBanner .bx-controls .bx-pager-link {
	background-color: #999;
	border-radius: 50%;
	display: block;
	height: 100%;
	text-indent: -777em;
}

#heroBanner .bx-controls .bx-pager-link.active {
	background-color: #00874e;
}

#content {
	background: url(../images/main/content.png) 50% 100% no-repeat;
	margin: 0 auto 20px;
	max-width: 1507px;
	min-height: 698px;
}

#content>.inner {
	width: 1042px;
}

#content #promotionBox,#content #tvcBox {
	background: url(../images/global/bottom-shadow.png) 50% 100% no-repeat;
	background-size: contain;
	float: left;
	margin: 0 22px;
	padding-bottom: 17px;
	width: 477px;
}

#content #promotionBox h2,#content #tvcBox h2 {
	font-size: 33px;
	text-transform: uppercase;
}

#content #promotionBox .bx-controls,#content #tvcBox .bx-controls {
	position: absolute;
	right: 0;
	top: -32px;
}

#content #promotionBox .bx-controls .bx-pager-item,#content #tvcBox .bx-controls .bx-pager-item {
	display: inline-block;
	height: 16px;
	margin-left: 8px;
	width: 16px;
}

#content #promotionBox .bx-controls .bx-pager-link,#content #tvcBox .bx-controls .bx-pager-link {
	background-color: #00874e;
	border-radius: 50%;
	display: block;
	height: 100%;
	text-indent: -777em;
}

#content #promotionBox .bx-controls .bx-pager-link.active,#content #tvcBox .bx-controls .bx-pager-link.active {
	background-color: #ff8300;
}

#content #enjoyLife {
	margin: 0 auto;
	padding-top: 29px;
	width: 952px;
}

#content .enjoyLifeRandom {
	color: #fff;
}

#content .enjoyLifeRandom img {
	float: left;
	height: 272px;
	margin-right: 20px;
}

#content .enjoyLifeRandom h3 {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 15px;
}

#content .enjoyLifeRandom p {
	font-size: 20px;
	line-height: 1;
}

#content .enjoyLifeRandom .viewDetail {
	background: url(../images/global/icon-plus.png) 93% 50% no-repeat;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	margin-top: 15px;
	padding: 4px 35px 4px 15px;
}

#socialNetwork {
	margin-bottom: 10px;
}

#socialNetwork>.inner {
	width: 1000px;
}

#socialNetwork .socialNetworkSlide li {
	background: url(../images/main/box-social2.png) no-repeat;
	color: #fff;
	height: 307px;
	position: relative;
}

#socialNetwork .socialNetworkSlide li:nth-child(odd) {
	background: url(../images/main/box-social1.png) no-repeat;
}

#socialNetwork .socialNetworkSlide li a {
	display: block;
	height: 100%;
	position: relative;
}

#socialNetwork .socialNetworkSlide li .crop {
	float: left;
	height: 281px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 239px;
}

#socialNetwork .socialNetworkSlide li img {
	height: 100%;
	left: 50%;
	max-width: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#socialNetwork .socialNetworkSlide li .text {
	color: #fff;
	display: block;
	font-size: 20px;
	height: 200px;
	line-height: 20px;
	overflow: hidden;
	padding: 20px 20px 0 0;
}

#socialNetwork .socialNetworkSlide li .date {
	background: url(../images/global/icon-fb.png) no-repeat;
	bottom: 50px;
	color: #fff;
	font-size: 24px;
	height: 26px;
	left: 259px;
	padding: 1px 0 0 25px;
	position: absolute;
}

#socialNetwork .bx-viewport {
	margin-top: 39px;
}

#socialNetwork .bx-wrapper {
	position: relative;
}

#socialNetwork .bx-controls {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#socialNetwork .bx-controls .bx-pager {
	position: absolute;
	right: 0;
	top: -30px;
}

#socialNetwork .bx-controls .bx-pager-item {
	display: inline-block;
	height: 16px;
	margin-left: 8px;
	width: 16px;
}

#socialNetwork .bx-controls .bx-pager-link {
	background-color: #00874e;
	border-radius: 50%;
	display: block;
	height: 100%;
	text-indent: -777em;
}

#socialNetwork .bx-controls .bx-pager-link.active {
	background-color: #ff8300;
}

#socialNetwork .bx-controls .bx-controls-direction {
	height: 0;
	left: 0;
	position: absolute;
	right: 0;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-prev {
	background: url(../images/global/bt-prev.png) no-repeat;
	height: 71px;
	left: -55px;
	position: absolute;
	text-indent: -777em;
	top: 100px;
	width: 39px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-prev.disabled {
	background-position: 0 -71px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-next {
	background: url(../images/global/bt-next.png) no-repeat;
	height: 71px;
	position: absolute;
	right: -55px;
	text-indent: -777em;
	top: 100px;
	width: 39px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-next.disabled {
	background-position: 0 -71px;
}

#delivery {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

#delivery h2 {
	background: url(../images/main/heading-follow.png) no-repeat;
	height: 41px;
	margin-bottom: 20px;
}

#delivery h2 a {
	display: block;
	height: 100%;
}