#healthy,#heroBanner,#section1 {
    position: relative;
}

header{
    float: left;
    height: 140px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
.logo-responesive{
     width: 50px;
     margin: 10px;
     padding: 5px;
}
body.main {
    background: url(http://greenspot.co.th/images/global/bg-page.png)  repeat-x #fff;
          
} 

#HeroDesktop {
    display: inline;
    transform: translate(0%, 25%)
}

.herodesktop{position: initial;height: 750px;}
.heromobile{
    width: 145%;
    position: initial;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 750px;
}



/*--Desktop--*/
#HeroDesktop a {
    display: block;
    height: 85%;
}

#HeroDesktop .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroDesktop .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroDesktop .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroDesktop .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}
/*--Moblie--*/
#HeroMoblie a {
    display: block;
    height: 85%;
}

#HeroMoblie .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroMoblie .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroMoblie .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroMoblie .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}


#section1 {
    font-size: 24px;
    line-height: 1;
    margin: -100px auto 0;
    width: 1000px;
}

#section1>img {
    float: left;
    margin-right: 25px;
}

#section1 h2 {
    font-size: 44px;
    margin-top: 100px;
}

#section1 li:before {
    color: green;
    content: '\2022';
    padding-right: 10px;
}

#enjoyLife {
    background: url(../../../../images/product/greenspot/leaf1.png) no-repeat,url(../../../../images/product/greenspot/enjoy-life.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 477px;
    line-height: 1;
    margin: 0 auto;
    max-width: 1777px;
    padding-top: 94px;
}

#enjoyLife>.inner {
    width: 996px;
}

#enjoyLife .enjoyLifeSlide img {
    float: left;
}

#enjoyLife .enjoyLifeSlide h2 {
    border-bottom: 3px dashed #fff;
    display: inline-block;
    font-size: 44px;
    margin-bottom: 20px;
}

#enjoyLife .enjoyLifeSlide p {
    padding-right: 30px;
}

#section2 {

   /* background: url(../../../../images/product/greenspot/orange.png) 0 100% no-repeat,url(../../../../images/product/greenspot/orange2.png) 100% 0 no-repeat;*/
    font-size: 22px;
    line-height: 1.2;

}

.imggreen{
    position: absolute;
    background:rgba(255,255,255,0.5) 100% 0 no-repeat;
    margin: -100px auto 0;
    max-width: 1270px;
    min-height: 455px;
    padding-top: 100px;
}

#section2>.inner {
    width: 500px;
}

#section2 h2 {
    font-size: 30px;
}

#healthy {
   /* background: url(../../../../images/product/greenspot/healthy-menu.png) 100% 0 no-repeat;*/
    height: 364px;
    margin: 0 auto;
    width: 1000px;
}

#healthy>a {
    height: 250px;
    position: absolute;
    right: 10px;
    top: 110px;
    width: 375px;
}

#healthy>a+a {
    left: 115px;
    right: auto;
    top: 10px;
    width: 485px;
}

footer.greenspot .leaf {
    background: url(../../../../images/product/greenspot/leaf2.png) no-repeat;
    display: block;
    height: 216px;
    position: absolute;
    right: 2%;
    top: -77px;
    width: 190px;
}