#healthy .headingMain,#healthy .paging {
	text-align: center;
	border-top: 1px solid #b5ca5e;
}

header{
    float: left;
    height: 140px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
.logo-responesive{
     width: 50px;
     margin: 10px;
     padding: 5px;
}
body.main {
    background: url(http://greenspot.co.th/images/global/bg-page.png)  repeat-x #fff;
          
} 

#HeroDesktop {
    display: inline;
    transform: translate(0%, 25%)
}

.herodesktop{position: initial;height: 750px;}
.heromobile{
    width: 145%;
    position: initial;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 750px;
}



/*--Desktop--*/
#HeroDesktop a {
    display: block;
    height: 85%;
}

#HeroDesktop .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroDesktop .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroDesktop .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroDesktop .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}
/*--Moblie--*/
#HeroMoblie a {
    display: block;
    height: 85%;
}

#HeroMoblie .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroMoblie .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroMoblie .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroMoblie .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}



#healthy {
	margin: -100px 0 50px;
}

#healthy .inner {
	width: 1038px;
}

#healthy #filters {
	margin: 18px 18px 0;
	text-align: right;
}

#healthy #filters button {
	background-color: transparent;
	border: 0;
	color: #000;
	cursor: pointer;
	font-family: psl_kittithada_probold;
	font-size: 19px;
	margin: 0 3px;
	padding: 5px 10px;
	text-transform: capitalize;
}

#healthy #filters button.all,#healthy #filters button.vitamilk {
	color: #333;
}

#healthy #filters button.vitamilk.active {
	color: #e31c23;
}

#healthy #filters button.vsoy {
	color: #333;
}

#healthy #filters button.vsoy.active {
	color: #060;
}

#healthy #filters button.greenspot {
	color: #333;
}

#healthy #filters button.greenspot.active {
	color: #ff7f00;
}

#healthy #filters .pipe {
	color: #ccc;
	display: inline-block;
	font-size: 24px;
	position: relative;
	top: 3px;
}

#healthy .headingMain {
	font-size: 44px;
	height: 8px;
	margin: 20px 18px 0;
}

#healthy .headingMain span {
	background-color: #fff;
	color: #b5ca5e;
	display: inline-block;
	padding: 0 20px;
	position: relative;
	text-transform: uppercase;
	top: -33px;
}

#healthy .wrapper {
	margin-top: 68px;
}

#healthy .box {
	color: #b5ca5e;
	float: left;
	height: 380px;
	margin: 0 18px 10px;
	position: relative;
	text-align: center;
	width: 310px;
}

#healthy .box img {
	display: block;
	height: 310px;
	width: 100%;
}

#healthy .box .name {
	display: block;
	font-size: 24px;
	margin-top: 15px;
}

#healthy .box .wrapShare {
	background: rgba(0,0,0,.7);
	display: table;
	height: 310px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

#healthy .box .wrapShare>* {
	display: table-cell;
	font-size: 0;
	vertical-align: middle;
}

#healthy .box .wrapShare .fb,#healthy .box .wrapShare .gp,#healthy .box .wrapShare .tw {
	display: inline-block;
	height: 68px;
	margin: 0 9px;
	opacity: 0;
	position: relative;
	-webkit-transform: scale(.3);
	-ms-transform: scale(.3);
	transform: scale(.3);
	width: 68px;
}

#healthy .box .wrapShare .fb {
	background: url(../images/global/social.png) no-repeat;
	-webkit-transition: opacity .6s .1s,-webkit-transform .6s .1s;
	transition: opacity .6s .1s,transform .6s .1s;
}

#healthy .box .wrapShare .tw {
	background: url(../images/global/social.png) -87px 0 no-repeat;
	-webkit-transition: opacity .6s .17s,-webkit-transform .6s .2s;
	transition: opacity .6s .17s,transform .6s .2s;
}

#healthy .box .wrapShare .gp {
	background: url(../images/global/social.png) -174px 0 no-repeat;
	display: none;
	-webkit-transition: opacity .6s .24s,-webkit-transform .6s .3s;
	transition: opacity .6s .24s,transform .6s .3s;
}

#healthy .box:hover .wrapShare {
	opacity: 1;
}

#healthy .box:hover .fb,#healthy .box:hover .gp,#healthy .box:hover .tw {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#healthy .paging {
	font-size: 27px;
	height: 70px;
	margin-top: 30px;
	padding-top: 30px;
	position: relative;
}

#healthy .paging .next,#healthy .paging .prev {
	bottom: 0;
	height: 42px;
	position: absolute;
	width: 23px;
}

#healthy .paging .prev {
	background: url(../images/global/bt-prev2.png) no-repeat;
	left: 0;
}

#healthy .paging .next {
	background: url(../images/global/bt-next2.png) no-repeat;
	right: 0;
}