header{
    float: left;
    height: 140px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
.logo-responesive{
     width: 50px;
     margin: 10px;
     padding: 5px;
}
body.main {
    background: url(http://greenspot.co.th/images/global/bg-page.png)  repeat-x #fff;
          
} 

#HeroDesktop {
    display: inline;
    transform: translate(0%, 25%)
}
.herodesktop{position: initial;height: 750px;}
.heromobile{
    width: 145%;
    position: initial;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 750px;
}



/*--Desktop--*/
#HeroDesktop a {
    display: block;
    height: 85%;
}

#HeroDesktop .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroDesktop .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroDesktop .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroDesktop .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}
/*--Moblie--*/
#HeroMoblie a {
    display: block;
    height: 85%;
}

#HeroMoblie .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroMoblie .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroMoblie .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroMoblie .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}


#Content{
    background: url(http://greenspot.co.th/images/main/content.png) 50% 100% no-repeat;
    margin: 0 auto 20px;
    max-width: 1507px;
    min-height: 698px;
}


 #Content #promotionBox,#Content #tvcBox {
    background: url(http://greenspot.co.th/images/global/bottom-shadow.png) 50% 100% no-repeat;
 
    margin: 0 22px;
    padding-bottom: 17px;
    width: 477px;
}

#Content #promotionBox h2, #Content #tvcBox h2 {
    font-size: 33px;
    text-transform: uppercase;
}


#Content #promotionBox .bx-controls,#Content #tvcBox .bx-controls {
    position: absolute;
    right: 0;
    top: -32px;
}

#Content #promotionBox .bx-controls .bx-pager-item,#Content #tvcBox .bx-controls .bx-pager-item {
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

#Content #promotionBox .bx-controls .bx-pager-link,#Content #tvcBox .bx-controls .bx-pager-link {
    background-color: #00874e;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#Content #promotionBox .bx-controls .bx-pager-link.active,#Content #tvcBox .bx-controls .bx-pager-link.active {
    background-color: #ff8300;
}

.colorGreen {
    color: #00874e;
}
.colorOrange {
    color: #ff8300;
}

.enjoyLifeRandom {
    color: #fff;
}

#Content #enjoyLife {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    width: 952px;
}
#Content .enjoyLifeRandom .viewDetail {
    background: url(http://greenspot.co.th/images/global/icon-plus.png) 93% 50% no-repeat;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    margin-top: 15px;
    padding: 4px 35px 4px 15px;
}
#Content .enjoyLifeRandom h3 {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 15px;
}

#Content .enjoyLifeRandom p {
    font-size: 18px;
    line-height: 1;
}

#socialNetwork {
    margin-bottom: 10px;
}

#socialNetwork>.inner {
    width: 1000px;
}
.headingMain {
    border-top: 8px solid #ff8300;
    font-size: 40px;
    height: 8px;
    margin-top: 20px;
    text-align: center;

}
.headingMain span {
    background-color: #fff;
    color: #ff8300;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    top: -31px;
}
#container {
    max-width: 2000px;
    position: relative;
}
#container, .inner {
    margin: 0 auto;
}

#socialNetwork {
    margin-bottom: 10px;
}

#socialNetwork>.inner {
    width: 1000px;
}

#socialNetwork .socialNetworkSlide li {
    background: url(../images/main/box-social2.png) no-repeat;
    color: #fff;
    height: 307px;
    position: relative;
}

#socialNetwork .socialNetworkSlide li:nth-child(odd) {
    background: url(../images/main/box-social1.png) no-repeat;
}

#socialNetwork .socialNetworkSlide li a {
    display: block;
    height: 100%;
    position: relative;
}

#socialNetwork .socialNetworkSlide li .crop {
    float: left;
    height: 281px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 239px;
}

#socialNetwork .socialNetworkSlide li img {
    height: 100%;
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#socialNetwork .socialNetworkSlide li .text {
    color: #fff;
    display: block;
    font-size: 20px;
    height: 200px;
    line-height: 20px;
    overflow: hidden;
    padding: 20px 20px 0 0;
}

#socialNetwork .socialNetworkSlide li .date {
    background: url(../images/global/icon-fb.png) no-repeat;
    bottom: 50px;
    color: #fff;
    font-size: 24px;
    height: 26px;
    left: 259px;
    padding: 1px 0 0 25px;
    position: absolute;
}

#socialNetwork .bx-viewport {
    margin-top: 39px;
}

#socialNetwork .bx-wrapper {
   position: relative;
    margin: 0 auto 60px;
    padding: 0;
}

#socialNetwork .bx-controls {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#socialNetwork .bx-controls .bx-pager {
    position: absolute;
    right: 0;
    top: -30px;
}

#socialNetwork .bx-controls .bx-pager-item {
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

#socialNetwork .bx-controls .bx-pager-link {
    background-color: #00874e;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#socialNetwork .bx-controls .bx-pager-link.active {
    background-color: #ff8300;
}

#socialNetwork .bx-controls .bx-controls-direction {
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-prev {
    background: url(../images/global/bt-prev.png) no-repeat;
    height: 71px;
    left: -55px;
    position: absolute;
    text-indent: -777em;
    top: 100px;
    width: 39px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-prev.disabled {
    background-position: 0 -71px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-next {
    background: url(../images/global/bt-next.png) no-repeat;
    height: 71px;
    position: absolute;
    right: -55px;
    text-indent: -777em;
    top: 100px;
    width: 39px;
}

#socialNetwork .bx-controls .bx-controls-direction .bx-next.disabled {
    background-position: 0 -71px;
}

#delivery {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#delivery h2 {
    background: url(../images/main/heading-follow.png) no-repeat;
    height: 41px;
    margin-bottom: 20px;
}

#delivery h2 a {
    display: block;
    height: 100%;
}

footer ul {
    float: left;
    line-height: 1.3;
    padding-right: 25px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .headingMain {
     border-top: 8px solid #ff8300;
    font-size: 22px;
    height: 8px;
    padding: 15 15;
   text-align: center;
   vertical-align: middle;
    width: 300;
    transform: translateX(0%);
    }
    
}
    