header{
    float: left;
    height: 140px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
.logo-responesive{
     width: 50px;
     margin: 10px;
     padding: 5px;
}
body.main {
    background: url(http://greenspot.co.th/images/global/bg-page.png)  repeat-x #fff;
          
} 

#HeroDesktop {
    display: inline;
    transform: translate(0%, 25%)
}

.herodesktop{position: initial;height: 750px;}
.heromobile{
    width: 145%;
    position: initial;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 750px;
}



/*--Desktop--*/
#HeroDesktop a {
    display: block;
    height: 85%;
}

#HeroDesktop .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroDesktop .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroDesktop .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroDesktop .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}
/*--Moblie--*/
#HeroMoblie a {
    display: block;
    height: 85%;
}

#HeroMoblie .bx-controls {
    bottom: 0;
    height: 138px;
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#HeroMoblie .bx-controls .bx-pager-item {
    height: 16px;
    margin: 15px 0;
    width: 16px;
}

#HeroMoblie .bx-controls .bx-pager-link {
    background-color: #999;
    border-radius: 50%;
    display: block;
    height: 100%;
    text-indent: -777em;
}

#HeroMoblie .bx-controls .bx-pager-link.active {
    background-color: #00874e;
}


#healthy .bx-controls .bx-pager-link,
#products .bx-controls .bx-pager-link {
    text-indent: -777em;
    border-radius: 50%;
    box-shadow: inset 4px 4px 10px 2px rgba(50, 50, 50, .4)
}

#products {
   /* margin: -80px auto 0;*/
    position: relative;
    visibility: hidden;
    width: 100%;
    z-index: 1
}

#products>h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase
}

#products .bx-controls {
    margin: 30px 0 10px;
    position: relative;
    text-align: center
}

#products .bx-controls .bx-pager-item {
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px
}

#products .bx-controls .bx-pager-link {
    background-color: #adadad;
    display: block;
    height: 100%
}

#products .bx-controls .bx-pager-link.active {
    background-color: #e41b23
}

#products .bx-controls .bx-controls-direction {
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

#products .bx-controls .bx-controls-direction .bx-prev {
    background: url(../../../../images/product/vitamilk/bt-prev.png) no-repeat;
    display: block;
    height: 42px;
    left: -43px;
    position: absolute;
    text-indent: -777em;
    top: -120px;
    width: 23px
}

#products .bx-controls .bx-controls-direction .bx-prev.disabled {
    background-position: 0 -42px
}

#products .bx-controls .bx-controls-direction .bx-next {
    background: url(../../../../images/product/vitamilk/bt-next.png) no-repeat;
    display: block;
    height: 42px;
    position: absolute;
    right: -43px;
    text-indent: -777em;
    top: -120px;
    width: 23px
}

#products .bx-controls .bx-controls-direction .bx-next.disabled {
    background-position: 0 -42px
}

#boxContent {
    background: url(../images/global/box-content.png) 50% 0 no-repeat;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    height: 1024px;
    -webkit-transition: max-height .7s .5s;
    transition: max-height .7s .5s
}

#boxContent>div {
    opacity: 0;
    padding-top: 50px;
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

#boxContent.open {
    max-height: 1000px;
    -webkit-transition: max-height 1s;

}

#boxContent.open>div {
    opacity: 1;
    -webkit-transition: opacity 1s .4s;
    transition: opacity 1s .4s
}

#boxContent .close {
    background: url(../images/global/bt-close1.png) no-repeat;
    height: 42px;
    position: absolute;
    right: 5%;
    top: 50px;
    width: 41px;
    z-index: 1
}

#boxContent .productDetail {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    left: 0;
    line-height: 1;
    padding: 20px 0;
    position: absolute;
    right: 0
}

#boxContent .productDetail h2 {
    color: #000;
    font-size: 48px
}

#boxContent .productDetail h2:first-line {
    font-size: 70px;
    line-height: .7
}

#enjoyLife .enjoyLifeSlide p,
#section1 p {
    line-height: 1
}

#boxContent .productDetail h3 {
    color: #cf000c;
    font-size: 36px;
    margin: 10px 0
}

#boxContent .productDetail li {
    color: #323232;
    font-size: 24px;
    padding: 1px 20px;
    position: relative
}

#boxContent .productDetail li:before {
    content: '\2022';
    left: 0;
    position: absolute;
    top: 1px
}

#boxContent .original {
    height: 770px;
    margin: 0 auto;
    max-width: 1632px

}

#boxContent .original .productDetail {
    margin-left: 52.51%;
    top: 65.3%

}

#boxContent .VitamilkProduct {
/*    background: url(../../../../images/product/vitamilk/low-sugar.png) 50% -100px/1000px auto no-repeat;*/
    height: 500px;
    margin: 0 auto;
    max-width: 1592px
}

#boxContent .VitamilkProduct .productDetail {
    margin-left: 51.32%;
    top: 58.4%
}


#enjoyLife,
#section1 {
    margin: -100px auto 0
}

#section1 {
    background: url(../../../../images/product/vitamilk/soy.png) 100% 0 no-repeat;
    height: 544px;
    max-width: 1340px;
    padding-top: 200px
}

#section1>.inner {
    width: 500px
}

#section1 h2 {
    font-size: 44px
}

#section1 p {
    font-size: 24px;
    position: relative
}

#section1 p:after,
#section1 p:before {
    background: red;
    content: '';
    position: relative
}

#enjoyLife {
    background: url(../../../../images/product/vitamilk/enjoy-life.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 507px;
    max-width: 1777px
}

#enjoyLife>.inner {
    width: 1014px
}

#enjoyLife .enjoyLifeSlide img {
    float: left
}

#enjoyLife .enjoyLifeSlide h2 {
    color: #000;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 100px
}

#equation {
    height: 363px;
    margin: -200px auto 0;
    max-width: 1038px
}

.headingMain {
    border-top: 1px solid #cf000c;
    font-size: 40px;
    height: 8px;
    margin: 20px -43px 0;
    text-align: center
}

.headingMain span {
    background-color: #fff;
    color: #cf000c;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    top: -30px
}

#healthy {
    margin: 100px auto 0;
    width: 876px
}

#healthy .bx-wrapper {
    margin-top: 40px
}

#healthy .healthySlide li {
    background: url(../images/global/bottom-shadow2.png) 0 100% no-repeat;
    padding-bottom: 10px
}

#healthy .healthySlide li a {
    display: block;
    position: relative
}

#healthy .healthySlide li img {
    display: block
}

#healthy .healthySlide li .text {
    background: url(../../../../images/product/vitamilk/shape1.png) 0 100% no-repeat;
    bottom: 0px;
    color: #fff;
    height: 26px;
    left: 0;
    padding: 7px;
    position: absolute;
    right: 0
}

#healthy .healthySlide li:nth-of-type(even) .text {
    background: url(../../../../images/product/vitamilk/shape2.png) 0 100% no-repeat
}

#healthy .bx-controls {
    margin-top: 30px;
    position: relative;
    text-align: center
}

#healthy .bx-controls .bx-pager-item {
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px
}

#healthy .bx-controls .bx-pager-link {
    background-color: #adadad;
    display: block;
    height: 100%
}

#healthy .bx-controls .bx-pager-link.active {
    background-color: #e41b23
}

#healthy .bx-controls .bx-controls-direction {
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

#healthy .bx-controls .bx-controls-direction .bx-prev {
    background: url(../../../../images/product/vitamilk/bt-prev.png) no-repeat;
    display: block;
    height: 42px;
    left: -43px;
    position: absolute;
    text-indent: -777em;
    top: -120px;
    width: 23px
}

#healthy .bx-controls .bx-controls-direction .bx-prev.disabled {
    background-position: 0 -42px
}

#healthy .bx-controls .bx-controls-direction .bx-next {
    background: url(../../../../images/product/vitamilk/bt-next.png) no-repeat;
    display: block;
    height: 42px;
    position: absolute;
    right: -43px;
    text-indent: -777em;
    top: -120px;
    width: 23px
}

#healthy .bx-controls .bx-controls-direction .bx-next.disabled {
    background-position: 0 -42px
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#equation {
    height: 363px;
    margin: 200px auto 0;
    max-width: 1038px
}    
}