.footer {
  /*  background: url(../../images/global/footer.png) 50% 0 no-repeat;
    background-size:cover;
    margin: 0 auto;
    height: auto;
    padding-bottom: 30px;
    position: relative;*/

    background: url(../../images/global/footer.png) 50% 0 no-repeat;
    font-size: 18px;
    height: 293px;
    margin: 0 auto;
    max-width: 1671px;
    line-height: 1;
    /* padding-top: 70px; */
    position: relative;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
   
    color: #54697E;
   font-size: 26px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}


.footer ul {
    font-size: 22px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
   
     content: '\2022';
    color: green;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

#copyright{
    margin-top: 10px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.footer {
   background: url(../../images/global/footer.png) 50% 0 no-repeat;
    background-size:cover;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    position: relative;
}

}