
/*-- Healty --*/
#healthy p{
	font-size: 18pt;

}

#healthy .inner {
	width: 100%;
	padding: 55px;
}

#healthy #filters {
	margin: 18px 18px 0;
	text-align: right;
}


#healthy #filters button {
	background-color: transparent;
	border: 0;
	color: #000;
	cursor: pointer;
	font-family: 'psl_kittithada_probold';
	font-size: 19px;
	margin: 0 3px;
	padding: 5px 10px;
	text-transform: capitalize;
}

#healthy #filters button.all,#healthy #filters button.vitamilk {
	color: #333;
}

#healthy #filters button.vitamilk.active {
	color: #e31c23;
}

#healthy #filters button.vsoy {
	color: #333;
}

#healthy #filters button.vsoy.active {
	color: #060;
}

#healthy #filters button.greenspot {
	color: #333;
}

#healthy #filters button.greenspot.active {
	color: #ff7f00;
}

#healthy #filters button.subcate {
	color: #333;
}

#healthy #filters button.subcate.active {
	color: #060;
}

#healthy #filters .pipe {
	color: #ccc;
	display: inline-block;
	font-size: 24px;
	position: relative;
	top: 3px;
}

#vision{
	padding: 55px;
}

.headingMain {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
       margin: auto;
}

.headingMain > span {
    position: relative;
    display: inline-block;
    font-size: 48px;
    text-transform: uppercase;
    color: #b5ca5e;
    background: #fff;    
}

.headingMain > span:before,
.headingMain > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 513.5px;
    height: 5px;
   border-top: 1px solid #b5ca5e;
}

.headingMain > span:before {
    right: 100%;
    margin-right: 15px;
}

.headingMain > span:after {
    left: 100%;
    margin-left: 15px;
}

#healthy .wrapper {
	margin-top: 68px;
}

#healthy .box {
	color: #b5ca5e;
	float: left;
	height: 250px;
	margin: 0 18px 20px;
	position: relative;
	text-align: center;
	width: 310px;
}

#healthy .box img {
	display: block;
	height: 190px;
	width: 100%;
}

#healthy .box .name {
	display: block;
	font-size: 25px;
	margin-top: 15px;
}

#healthy .box .wrapShare {
	background: rgba(0,0,0,.7);
	display: table;
	height: 190px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

#healthy .box .wrapShare>* {
	display: table-cell;
	font-size: 0;
	vertical-align: middle;
}

#healthy .box .wrapShare .fb,#healthy .box .wrapShare .gp,#healthy .box .wrapShare .tw {
	display: inline-block;
	height: 68px;
	margin: 0 9px;
	opacity: 0;
	position: relative;
	-webkit-transform: scale(.3);
	-ms-transform: scale(.3);
	transform: scale(.3);
	width: 68px;
}

#healthy .box .wrapShare .fb {
	background: url(../../images/global/social.png) no-repeat;
	-webkit-transition: opacity .6s .1s,-webkit-transform .6s .1s;
	transition: opacity .6s .1s,transform .6s .1s;
}

#healthy .box .wrapShare .tw {
	background: url(../../images/global/social.png) -87px 0 no-repeat;
	-webkit-transition: opacity .6s .17s,-webkit-transform .6s .2s;
	transition: opacity .6s .17s,transform .6s .2s;
}

#healthy .box .wrapShare .gp {
	background: url(../../images/global/social.png) -174px 0 no-repeat;
	display: none;
	-webkit-transition: opacity .6s .24s,-webkit-transform .6s .3s;
	transition: opacity .6s .24s,transform .6s .3s;
}

#healthy .box:hover .wrapShare {
	opacity: 1;
}

#healthy .box:hover .fb,#healthy .box:hover .gp,#healthy .box:hover .tw {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
#healthy .inner {
	width: 100%;
	padding: 20px;
}

}
