* {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

html {
	overflow-x: hidden;
}

body,html {
	height: 100%;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
	content: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.underline,footer a:hover {
	text-decoration: underline;
}

a img,img {
	border: 0;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: 0;
}

.clearfix:after,.clearfix:before {
	content: "";
	display: table;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

header {
	height: 137px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 1148px;
	z-index: 1;
}

header h1 {
	background: url(../images/global/logo.png) no-repeat;
	float: left;
	height: 137px;
	margin-top: 20px;
	width: 136px;
}

header .toggleNav,header h1 img {
	display: none;
}

header h1>a,header nav>ul>li>a {
	display: block;
	text-indent: -777em;
}

header h1>a {
	height: 100%;
}

header nav {
	float: right;
	height: 53px;
	margin-top: 33px;
	width: 960px;
}

header nav li.sub:hover {
	background: rgba(51,51,51,.2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

header nav>ul>li>a {
	background-image: url(../images/global/nav.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
	height: 100%;
	width: 132px;
}

.pace-inactive,div.paceDiv,footer .corn,footer .leaf {
	display: none;
}

footer {
	background: url(../images/global/footer.png) 50% 0 no-repeat;
	font-size: 18px;
	height: 293px;
	margin: 0 auto;
	max-width: 1671px;
	padding-top: 70px;
	position: relative;
}

footer>.inner {
	width: 1000px;
}

footer ul {
	float: left;
	line-height: 1.3;
	padding-right: 25px;
	width: 16.667%;
}

footer ul li:before {
	content: '\2022';
	color: green;
	padding-right: 5px;
}

footer ul li:first-child:before {
	content: '';
	padding: 0;
}

footer ul li:first-child {
	font-size: 22px;
}

footer a {
	color: #555;
}

footer .copyright {
	margin-top: 30px;
}

#container,.inner {
	margin: 0 auto;
}

@font-face {
	font-family:psl_kittithada_probold;src:url(../fonts/PSL_Kittithada_Pro_Bold/font.eot);src:url(../fonts/PSL_Kittithada_Pro_Bold/font.eot?#iefix) format("embedded-opentype"),url(../fonts/PSL_Kittithada_Pro_Bold/font.woff) format("woff"),url(../fonts/PSL_Kittithada_Pro_Bold/font.ttf) format("truetype"),url(../fonts/PSL_Kittithada_Pro_Bold/font.svg#psl_kittithada_probold) format("svg");font-weight:400;font-style:normal;
}

body {
	color: #666;
	font-family: psl_kittithada_probold;
	font-size: 16px;
	line-height: 1.428;
}

.pace .pace-progress {
	background: #333;
	height: 1px;
	position: fixed;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 2000;
}

div.paceDiv {
	background-color: #000;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1999;
}

#container {
	max-width: 2000px;
	position: relative;
}

.colorRed {
	color: #e31c23;
}

.colorGreen {
	color: #00874e;
}

.colorGreen2 {
	color: #36dc96;
}

.colorGreen3 {
	color: #005229;
}

.colorGreen4 {
	color: #060;
}

.colorGreen5 {
	color: #b5ca5e;
}

.colorOrange {
	color: #ff8300;
}

.colorOrange2 {
	color: #ffdd83;
}

.colorPink {
	color: #e10073;
}

.headingMain {
	border-top: 8px solid #ff8300;
	font-size: 40px;
	height: 8px;
	margin-top: 20px;
	text-align: center;
}

.headingMain span {
	background-color: #fff;
	color: #ff8300;
	display: inline-block;
	padding: 0 20px;
	position: relative;
	text-transform: uppercase;
	top: -31px;
}

.lightbox,.overlay {
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
}

.overlay {
	background-color: rgba(255,255,255,.8);
	height: 0;
	opacity: 0;
	top: 0;
	z-index: 99;
}

.overlay.opened {
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.overlay.closed {
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.lightbox {
	background-color: #fff;
	border: 1px solid #3d3d3d;
	box-shadow: 4px 4px 0 0 rgba(0,0,0,.18);
	height: 610px;
	line-height: 1;
	margin: auto;
	opacity: 0;
	padding: 45px 10px 10px 30px;
	top: -1000%;
	width: 980px;
	z-index: 100;
	-webkit-transform: scale(.7);
	-ms-transform: scale(.7);
	transform: scale(.7);
}

.lightbox.opened {
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 1s ease .8s,opacity 1s ease .8s;
	transition: transform 1s ease .8s,opacity 1s ease .8s;
}

.lightbox.closed {
	opacity: 0;
	top: 0;
	-webkit-transform: scale(.7);
	-ms-transform: scale(.7);
	transform: scale(.7);
	-webkit-transition: -webkit-transform 1s ease,opacity 1s ease;
	transition: transform 1s ease,opacity 1s ease;
}

.lightbox>div {
	height: 100%;
	overflow: auto;
	padding-right: 10px;
}

.lightbox .close {
	background: url(../images/global/bt-close3.png) no-repeat;
	border-left: 1px solid #9e9e9e;
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 66px;
}

.lightbox h2 {
	font-size: 41px;
	margin-bottom: 12px;
}

.lightbox h3 {
	color: #000;
	font-size: 27px;
	margin-bottom: 20px;
}

.lightbox img {
	display: block;
	margin: 0 auto 20px;
}

.lightbox p {
	font-size: 21px;
	margin-bottom: 20px;
}

.lightbox p:last-of-type {
	color: #ff8300;
}

.lightbox ol {
	font-size: 21px;
	list-style: decimal;
	margin: 0 0 20px 25px;
}

.lightbox .rowImg img {
	float: left;
	margin-bottom: 0;
	width: 50%;
}

.lightbox .rowImg .col {
	color: inherit;
	float: left;
	padding-left: 20px;
	width: 50%;
}