a {
    font-size: 18px;
}
.navbar-nav > li > a {
    color: #fff;
    font-size: 22px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #000;
}
