/* ----------- iPhone 4 and 4S ----------- */
*{
  padding: 0;
  margin:0;

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body.greenspot{
   max-width: 100%;
}

}


.desktop{
  bottom: 50px;
  height: 100%;
}
