A.Ref:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:visited {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:active {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.Ref:hover {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}
A.sub:link {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:visited {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:active {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #999999;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

.sub_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
}
.text_body {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	line-height: 18px;
	margin-left: 20px;
	margin-top: 0px;
}
A.cook:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.font16pxGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
}
A.cook:visited {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.inputBox {
	font-family: Arial, Helvetica, sans-serif;
	height: 26px;
	width: 260px;
	background-color: #EEEEEE;
	border: 1px solid #908F90;
}
.fontGrey14px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7D7D7D;
}
.text_body td {
	padding-left: 10px;
}
.head_logo {
	margin-left: 10px;
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.imgg {
	margin-top: 0px;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
	margin-left: 25px;
}
.ref_link {color: #FB9A00}

.leftedge {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: #999999;
}.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.sitemapCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;
}

A.sitemapCopy:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;	
}
.fontGreen16px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #007E32;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fontGrey12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-top: 6px;
	line-height: 16px;
}
.fontGreen12pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #007E32;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
A.fontGreen12pxBold :link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #007E32;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
.fontOrange12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FB9A00;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
.fontOrange16px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FB9A00;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fontRed20px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	color: #EF0000;
}

A.Sitemap:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
		text-decoration: none;

}
A.Sitemap:visited {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
		text-decoration: none;

}
A.Sitemap:active {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
		text-decoration: none;

}
A.Sitemap:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
		text-decoration: none;

.fontRed12pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #007E32;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
.fontRed12pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EF0000;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}

A.fontRed12pxBold:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EF0000;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
