.font16pxGrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
}

.inputBox {
	font-family: Arial, Helvetica, sans-serif;
	height: 26px;
	width: 260px;
	background-color: #EEEEEE;
	border: 1px solid #908F90;
}
.inputBoxNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #908F90;
}
.fontGrey12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7D7D7D;
}
.fontGrey14px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7D7D7D;
}

A.RefLink:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}
A.RefLink:visited {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}
A.RefLink:active {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.RefLink:hover {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: normal;
	text-decoration: underline;
}


A.Ref:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:visited {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:active {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.Ref:hover {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}
.ref_link {color: #FB9A00}

.leftedge {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: #999999;
	}.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.sitemapCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;
}

A.sitemapCopy:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;	
}
.sub{
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
	}
A.sub:link {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:visited {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:active {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #999999;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.sub_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
}
.text_body {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	line-height: 18px;
	margin-left: 20px;
	margin-top: 0px;
}
.head_logo {
	margin-left: 10px;
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.imgg {
	margin-top: 0px;
}

.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
}
.text_q {
	font-size: 12px;
	color: #EE0000;
	font-weight: bold;
}
.style7 {color: #999999;
	font-weight: bold;
}
.sub_menu1 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
}
A.cook:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
}
.sitemapCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;
}

A.sitemapCopy:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
	text-decoration: none;	
}
.fontwhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
A.fontwhite:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.fontGreen16px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #007E32;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fontGrey12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-top: 6px;
	line-height: 16px;
}
.fontGreen12pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #007E32;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
A.fontGreen12pxBold :link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #007E32;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
.fontOrange12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FB9A00;
	font-weight: bold;
	padding-right: 14px;
	padding-top: 6px;
}
.fontOrange16px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FB9A00;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fontRed20px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	color: #EF0000;
}
.sub_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
}
.text_body {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	line-height: 18px;
	margin-left: 20px;
	margin-top: 0px;
}
.head_logo {
	margin-left: 10px;
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.imgg {
	margin-top: 0px;
}
.style3 {
	color: #00704C;
	font-size: 12px;
}
.style4 {
	color: #de9500;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.style5 {
	color: #F00082;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #FF0000; margin-top: 0px; line-height: normal; font-style: normal; font-weight: bold; }
.style7 {
	color: #00704C;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.mar {
	margin-left: 20px;
}
.style4Copy {
	color: #de9500;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.text_bodyCopy {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	line-height: 18px;
	margin-top: 0px;
}
.tableDash {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

