@charset "UTF-8";
/* CSS Document */

A.Ref:link {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:visited {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.Ref:active {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	TEXT-DECORATION: none
}
A.Ref:hover {
	FONT-SIZE: 12px;
	font-family: Tahoma;
	COLOR: #FB9A00;
	FONT-WEIGHT: normal;
	text-decoration: underline;
}
A.sub:link {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:visited {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #666666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.sub:active {
	FONT-SIZE: 14px;
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #999999;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.sub_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
}
.text_body {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	line-height: 18px;
	margin-left: 20px;
	margin-top: 0px;
}
.head_logo {
	margin-left: 10px;
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.imgg {
	margin-top: 0px;
}
.ref_link {color: #FB9A00}
.menu_margin {margin-top: 30px;
}
.sub_menu1 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
}
.sub_menu1 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	margin-top: 0px;
	line-height: normal;
	font-style: normal;
	font-weight: bold;
}

.head_health {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FB9A00;
}
