BODY {
	BACKGROUND: #9faa00
}

A {
	COLOR: #fd8712;FONT: bold;
}
A:hover {
	COLOR: #0066cc;FONT: bold;TEXT-DECORATION: none
}
.mainmenu A:hover {
	COLOR: #b9d300
}

.headermethod {
	FONT-SIZE: 12px; BACKGROUND: #9faa00; COLOR: #ffffff; TEXT-DECORATION: none
}
.headermethod A {
	COLOR: #ffcce5; TEXT-DECORATION: none
}
.headermethod A:hover {
	COLOR: #c8ce28
}

.headerlink {
	BACKGROUND: #ffdab6
}
.headerlink A:hover {
	COLOR: #c8ce28
}
.label {
	FONT-SIZE: 12px;
	FONT-FAMILY: "MS Sans Serif",tahoma,Verdana;
	BACKGROUND: #f7f8e4;
	COLOR: #333366;
	border: 33333;

}
.label2 {
	FONT-SIZE: 12px;FONT-FAMILY: "MS Sans Serif",tahoma,Verdana;BACKGROUND: #f2f3d9; COLOR: #333366
}
.cell {
	FONT-SIZE: 10px;BACKGROUND: #f7f8e4; COLOR: #333366
}
.cell2 {
	FONT-SIZE: 10px;BACKGROUND: #f2f3d9; COLOR: #333366
}

.buttonTag {
	FONT: bold 10px "MS Sans Serif",tahoma,Verdana;
	BORDER-LEFT-COLOR: #333333;
	BORDER-BOTTOM-COLOR: #333333;
	COLOR: #333366;
	BORDER-TOP-COLOR: #333333;
	BORDER-RIGHT-COLOR: #333333;
	background-color: #FFFFFF;






}
.buttonTag2 {
	FONT: bold 10px "MS Sans Serif",tahoma,Verdana;
	BORDER-LEFT-COLOR: #333333;
	BORDER-BOTTOM-COLOR: #333333;
	COLOR: #333366;
	BORDER-TOP-COLOR: #333333;
	BORDER-RIGHT-COLOR: #333333;
	background-color: #FFFFFF;

}
.buttonTag3 {
	FONT: bold 10px "MS Sans Serif",tahoma,Verdana;BORDER-LEFT-COLOR: #333333; BORDER-BOTTOM-COLOR: #333333; COLOR: #ffffff; BORDER-TOP-COLOR: #333333; BACKGROUND-COLOR: #9faa00; BORDER-RIGHT-COLOR: #333333
}
.colheader {
	BACKGROUND: #d3e254; COLOR: #333366 ;FONT-SIZE: 12px;FONT-FAMILY: "MS Sans Serif",tahoma,Verdana
}
.colheader A {
	FONT-SIZE: 12px;BACKGROUND: #d3e254; COLOR: #333366 ;TEXT-DECORATION: none
}


.rootlink {
	BACKGROUND: #ffdab6; COLOR: #333366
}
.pageframe {
	BACKGROUND: #333366
}
.pagespacer {
	BACKGROUND: white
}
.footstat {
	FONT-SIZE: 10px; COLOR: #333366; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana
}
.userstatus {
	FONT-SIZE: 8px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana
}
.powfooter {
	FONT-SIZE: 10px; COLOR: #dddddd; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.inputTag {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; COLOR: #00008b; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.disinputTag {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #00008b; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.selectTag {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; COLOR: #000000; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.fileTag {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; COLOR: #00008b; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.fileTag2 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; COLOR: #00008b; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.listtable {
	FONT-SIZE: 10px; COLOR: #333366
}
.listtable A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fd8712; TEXT-DECORATION: none
}
.userstatus {
	FONT-SIZE: 8px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif",tahoma,Verdana
}
.fontprice {
	color: #FF0000;
	font-weight: bold;
}
