.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


#frmbox { 
   position: absolute;
   top: 200px;
}

#frmbox img{ 
   margin: 0 auto;
}

#sectionfrm1 .form-group {
    margin-bottom: 7px;
}

input.textbox {
    height: 31px;
    /* width: 80%; */
    /* padding: 6.5px; */
    font-size: 18px;
}

select.textbox {
    height: 31px;
    margin: -3.5px;
    font-size: 18px;
}

.textbox:focus {
  border-color: #7d5011;
  box-shadow: inset 0 1px 1px rgba(125, 80, 17, 1.0);
}

#sectionfrm1 {
    /* padding: 12px; */
    padding-left: 5px;
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 500px;
    bottom: 1050px;
    left: -2px;
    z-index: 2;
}

#sectionfrm2 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 495px;
    bottom: 1048px;
    left: 4px;
    z-index: 3;
}

#sectionfrm3 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 495px;
    bottom: 1053px;
    left: 1px;
    z-index: 4;
}

#sectionfrm4 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 525px;
    bottom: 1060px;
    left: 4px;
    z-index: 5;
}


#sectionfrm2 .col-md-3,.col-sm-3,.col-xs-3 {
    width: 25.5%;
}

#conditionfrm1 {
    width: 100%;
    position: relative;
    bottom: 430px;
}

#conditionfrm1 img {
    margin: 0 auto;
}

#contentcondition {
    width: 100%;
    position: relative;
    bottom: 735px;
    font-size: 28px;
}

#conditionfrm2 {
    width: 100%;
    position: relative;
		bottom: 700px;
}

#conditionfrm2 img {
    margin: 0 auto;
}


/** Button **/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 140px;
  bottom: 1045px;
}

.btn {
  border: 2px solid #58380b;
  color: #ffffff;
  background-color: #7d5011;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
	height: 30px;
	width: 110px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/** FOR Moblie**/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	#vitamilkclub {
		width: 100%;
	}
	#frmbox {
	    position: absolute;
	    top: 75px;
	}
	#sectionfrm1 .form-group {
    margin-bottom: 7px;
	}
	input.textbox{
	    height: 10%;
	   /* width: 80%;*/
	    padding: 5.5px;

	}
	.textbox:focus {
	  border-color: #7d5011;
	  box-shadow: inset 0 1px 1px rgba(125, 80, 17, 1.0);
	}
	#sectionfrm1 {
    padding: 20px;
    padding-left: 55px;
    margin: 0 auto;
		position: absolute;
    width: 500px;
    bottom: 1230px;
	}

	#conditionfrm1 {
	    width: 100%;
	    position: relative;
	    bottom: 120px;
	}

	#conditionfrm1 img {
	    margin: 0 auto;
	}

}