.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


#frmbox { 
   position: absolute;
   top: 200px;
}

#frmbox img{ 
   margin: 0 auto;
}

#sectionfrm1 .form-group {
    margin-bottom: 7px;
}

input.textbox_vitamilk {
    font-size: 3vw;
    height: 4vw;
    line-height: 4vw;
    padding: 0.5vw;
    margin-bottom: 0.5vw;
}

select.textbox_vitamilk {
    height: 4vw;
    font-size: 3vw;
    line-height:4vw;
    padding:0vw;
    margin-bottom: 0.5vw;
}

input.textbox_desktop, select.textbox_desktop {
    font-size: 14px;
    height: 23px;
    line-height: 14px;
    padding: 0px 10px;
    margin-bottom: 6px;
}

.desktop_regisform .form-group > div{
    margin-left: 155px;
    margin-right: 65px;
}

.mobile_regisform .form-group > div{
	    margin-left: 30vw;
    margin-right: 15vw;
}

#Bbackground{
  width:100%;
  height:100vh;
  background:url(http://www.greenspot.co.th/assets/images/events/vitamilkclub/BG.png) no-repeat center;
  background-size:cover;
  position:fixed;
  z-index:-1;
}

.mobile_regisform{
  background:url(http://www.greenspot.co.th/assets/images/events/vitamilkclub/frmbox.png) top center no-repeat;
  width:100%;
  height:158.62vw;
  background-size:150%;
  position:relative;
}

.desktop_regisform{
  background:url(http://www.greenspot.co.th/assets/images/events/vitamilkclub/frmbox.png) top center no-repeat;
    width: 960px;
    height: 1015px;
    background-size: 100%;
  position:relative;
      margin: 0 auto;
}

.mobile_regisform form{
	position: relative;
    width:100%;
}

.form_setting{
	    position: relative;
    top: 46%;
    width: 80%;
    margin: 0 auto;
}

.mobile_regisform  div.form-group{
  margin-bottom:0;
}

.desktop_regisform div.form-group {
    margin-bottom: 0;
}

.textbox_vitamilk:focus {
  border-color: #7d5011;
  box-shadow: inset 0 1px 1px rgba(125, 80, 17, 1.0);
}

#sectionform1 {
    /* padding: 12px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 400px;

    z-index: 2;
}

#sectionform2 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 400px;

    z-index: 3;
}

#sectionform3 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 400px;

    z-index: 4;
}

#sectionform4 {
    /* padding: 32px; */
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    width: 400px;

    z-index: 5;
}


#sectionform2 .col-md-3,.col-sm-3,.col-xs-3 {
    width: 25.5%;
}

#conditionfrm1 {
    width: 100%;
   /* padding: 50px;*/
    position: relative;
}

#conditionform1 img {
    margin: 0 auto;
    width: 50%;
}

#contentcndition {
    font-size: 3vw;
    margin: 5vw auto 0;
    width: 80%;
}

#conditionform2 {
    width: 100%;
   /* position: relative;
    bottom: 700px;*/
}

#conditionform2 img {
    margin: 0 auto;
    width: 25vw;
}


/** Button **/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.mobile_regisform .btnn2 {
/*    border: 0;
    color: #ffffff;
    background-color: #7d5011;
    border-radius: 1vw;
    font-size: 2.5vw;
    font-weight: bold;
    height: 3vw;
    width: 10vw;
    line-height: 3vw;*/
    margin: 1vw auto 2vw;
    display: block;
    z-index:500;
}

.desktop_regisform .btnn2 {
    border: 0;
    color: #ffffff;
    background-color: #7d5011;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    width: 70px;
    line-height: 20px;
    margin: 8px auto;
    display: block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

button#btnsubmit{
  border: 0;
  background: transparent;
      top: 0;
    position: absolute;
}

button#btnsharefb{
  border: 0;
  background: transparent;
}
button#btnCondition{
  border: 0;
  background: transparent;
}

.mobile_regisform .bbsubmit {
    position: relative;
    width: 10vw;
    float:left;
}

.desktop_regisform .bbsubmit{
	    position: relative;
    width: 70px;
    float: left;
}

.desktop_regisform .bbsharefb {
    position: relative;
	width: 83px;
    float:right;
}

.mobile_regisform .bbsharefb {
    position: relative;
	width: 12vw;
    float:right;
}

.mobile_regisform .share_submit{
	    width: 24vw;
    margin: 2vw auto;
}

.desktop_regisform .share_submit{
    width: 165px;
    margin: 0 auto;
}


/*-- Modal --*/
.modal-condition {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* border-radius: 6px; */
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 5px solid #ed1c24;
}

.modal-header img{
  margin: 0 auto;
}

.modal-headeryt {
    padding: 20px;
    margin-bottom: 15px;
}

.close {
    float: right;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/** Condition Content ul**/
ul.frmcontent {
    padding: 25px;
}
ul.frmcontent li{
  font-size: 14px;
}
footer{
  overflow:hidden;
}

@media screen and (min-width:576px){

#conditionform1 img {
    margin: 0 auto;
    width: 350px;
}
#contentcndition {
    font-size: 26px;
    margin: 50px auto 0;
    width: 820px;
}
#conditionform2 img {
    margin: 0 auto;
    width: 180px;
}
ul.frmcontent li {
    font-size: 28px;
}



}



