.alert-danger {
  box-sizing: border-box;
  color: #a94442;
  height: 52px;
  text-decoration: none solid #a94442;
  column-rule-color: #a94442;
  perspective-origin: 407.75px 26px;
  transform-origin: 407.75px 26px;
  caret-color: #a94442;
  background: #f2dede none repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #ebccd1;
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: #a94442 none 0px;
  padding: 15px; }
