
#section1 {
    font-size: 24px;
    line-height: 1;
    margin: auto;
    width: 100%;
    height: 200px;
    position: relative;
    top: -115px;
}

ul {
  list-style-type: none;
}

#section1>img {
    float: left;
    margin-right: 25px;
}

#section1 h2 {
    font-size: 44px;
    margin-top: 100px;
}

.colorOrange {
    color: #ff8300;
}
.colorGreen {
    color: #00874e;
}
#section1 li:before {
    color: green;
    content: '\2022';
    padding-right: 10px;
}

#enjoyLife {
    background: url(../../../images/product/greenspot/leaf1.png) no-repeat,url(../../../images/product/greenspot/enjoy-life.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 477px;
    line-height: 1;
    margin: 0 auto;
    max-width: 1777px;
    padding-top: 94px;
}

#enjoyLife>.inner {
    width: 996px;
}

#enjoyLife .enjoyLifeSlide img {
    float: left;
}

#enjoyLife .enjoyLifeSlide h2 {
    border-bottom: 3px dashed #fff;
    display: inline-block;
    font-size: 44px;
    margin-bottom: 20px;
}

#enjoyLife .enjoyLifeSlide p {
    padding-right: 30px;
}

#section2 {

   /* background: url(../../../../images/product/greenspot/orange.png) 0 100% no-repeat,url(../../../../images/product/greenspot/orange2.png) 100% 0 no-repeat;*/
    font-size: 22px;
    line-height: 1.2;

}

.imggreen{
    position: absolute;
    background:rgba(255,255,255,0.5) 100% 0 no-repeat;
    margin: -100px auto 0;
    max-width: 1270px;
    min-height: 455px;
    padding-top: 100px;
}

#section2>.inner {
    width: 500px;
}

#section2 h2 {
    font-size: 30px;
}

#healthy {
   /* background: url(../../../../images/product/greenspot/healthy-menu.png) 100% 0 no-repeat;*/
    height: 100%
    margin: 0 auto;
    width: 100%;
}

#healthy>a {
    height: 250px;
    position: absolute;
    right: 10px;
    top: 110px;
    width: 375px;
}

#healthy>a+a {
    left: 115px;
    right: auto;
    top: 10px;
    width: 485px;
}
.content-section2{
    position: absolute;
    padding: 50px;
    margin: auto;
    left: 320px;
    bottom: 20px;
    width: 100%;
}

footer.greenspot .leaf {
    background: url(../../images/product/greenspot/leaf2.png) no-repeat;
    display: block;
    height: 216px;
    position: absolute;
    right: 2%;
    top: -77px;
    width: 190px;
}




/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

	#section1 {
	    font-size: 24px;
	    line-height: 1;
	    margin: auto;
	    width: 100%;
	    height: 100%;
	    padding-top: 100px;
	}
	#section1 h2 {
    	font-size: 44px;
		margin-top: 50px;
	}

	#enjoyLife {
	    background-color: #ff7f00;
	    color: #fff;
	    font-size: 22px;
	    line-height: 1;
	    margin: 0 auto;
	    max-width: 100%;
	}
}
