#products {
   margin: -80px auto 0;
    position: relative;
   /* visibility: hidden;*/
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  
}

#products h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.colorGreen {
    color: #00874e;
}

#section1 .bg-content {
    /* background: url(../../../images/product/vsoy/sesame-soy.png) 50% 0 no-repeat; */
    font-size: 24px;
    position: relative;
    margin: auto;
    /* width: 100%; */
    right: 100px;
}

#section1 .text-content {
    position: absolute;
    padding: 130px 0 0 295px;
    margin: auto;
    font-size: 24px;
}
.content-enjoylife{
    padding: 25px;
}
#section1>.inner {
    width: 100%;
}

#section1 h2 {
    font-size: 44px;
}

#section1 p {
    margin: 10px 0;
}

#section1 .enlargeText {
    font-size: 40px;
}

#enjoyLife {
    background: url(../../../images/product/vsoy/enjoy-life.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 507px;
    line-height: 1;
    margin: -100px auto 0;
    max-width: 1777px;
    padding-top: 36px;
}

#enjoyLife>.inner {
    width: 912px;
}

#enjoyLife .enjoyLifeSlide img {
    float: left;
}

#enjoyLife .enjoyLifeSlide h2 {
    font-size: 40px;
    line-height: .8;
    margin-bottom: 10px;
    padding-top: 110px;
}

#miniPack {
    height: 303px;
    margin: -175px auto 0 -165px;
    width: 100%;
}

#boxContent {
    background: url(../../../images/global/box-content.png) 50% 0 no-repeat;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    height: 1000px;
    -webkit-transition: max-height .7s .5s;
    transition: max-height .7s .5s;
}

#boxContent>div {
    opacity: 0;
    padding-top: 50px;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
}

#boxContent.open {
    max-height: 1000px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

#boxContent.open>div {
    opacity: 1;
    -webkit-transition: opacity 1s .4s;
    transition: opacity 1s .4s;
}

#boxContent .close {
    background: url(../../../images/global/bt-close2.png) no-repeat;
    height: 42px;
    position: absolute;
    right: 5%;
    top: 50px;
    width: 41px;
    z-index: 1;
}


#boxContent .productDetail {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    left: 0;
    line-height: 1;
    padding: 20px 0;
    position: absolute;
    right: 0
}

#boxContent .productDetail h2 {
    color: #000;
    font-size: 48px
}

#boxContent .productDetail h2:first-line {
    font-size: 70px;
    line-height: .7
}

#enjoyLife .enjoyLifeSlide p,
#section1 p {
    line-height: 1
}

#boxContent .productDetail h3 {
    color: #cf000c;
    font-size: 36px;
    margin: 10px 0
}

#boxContent .productDetail li {
    color: #323232;
    font-size: 24px;
    padding: 1px 20px;
    position: relative
}

#boxContent .productDetail li:before {
  /*  content: '\2022';*/
    left: 0;
    position: absolute;
    top: 1px
}

#boxContent .tips {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}

#boxContent .original {
   /* background: url(../../../../images/product/vsoy/original.png) 50% -40px/1300px auto no-repeat;*/
    height: 900px;
    margin: 0 auto;
    max-width: 1302px;
}

#boxContent .VitamilkProduct {
    height: 500px;
    margin: 0 auto;
        position: relative;

}

#boxContent .VitamilkProduct .productDetail {
    margin-left: 45.48%;
    top: 52.4%;
}

#boxContent .rice .productDetail {
    margin-left: 45.48%;
    top: 52.4%;
}

.headingMain {
    border-top: 1px solid #060;
    font-size: 40px;
    height: 8px;
 /*   margin: 20px -43px 0;*/
    text-align: center
}

.headingMain span {
    background-color: #fff;
        color: #060;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    top: -30px
}

#healthy {
    margin: auto;
    width: 100%;
}

.title-box .text {
    background: url(../../../images/product/vsoy/shape1.png) 0 100% no-repeat;
    bottom: 0px;
    color: #fff;
    height: 25px;
    left: 0;
    padding-left: 5px;
    position: absolute;
    right: 0;
    background-size: cover;
    margin: auto;
}


#productcontent{width:700px};

#productSlide .owl-item .active{
  width: 150px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#section1 {
   /* background: url(../../../images/product/vsoy/sesame-soy.png) 20% 0 no-repeat;*/
    height: 544px;
    max-width: 1340px;
       padding-top: 40px;
}
 #enjoyLife {
    background: url(../../../images/product/vsoy/enjoy-life.png) 20% 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 507px;
    line-height: 1;
    margin: -100px auto 0;
    max-width: 100%;
    padding-top: 75px;
}

#productcontent {
    position: relative;
    width: 100%;
    /*padding: 50px;*/
    top: 75px;
}

  #boxContent {

    background: url(../../../images/global/box-content.png) 50% 0 no-repeat;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    height: 1366px;
    -webkit-transition: max-height .7s .5s;
    transition: max-height .7s .5s
}


    #boxContent.open {
        max-height: 1366px;
        -webkit-transition: max-height 1s;

    }
    #miniPack {
    height: 303px;
    margin: -175px auto 0 0px;
    width: 100%;
}
}
.colorRed {
    color: #e31c23;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {

#productcontent {
    position: relative;
    width: 100%;
    padding: 25px;
    top: 50px;
}
 

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px){

   #productcontent {
    position: relative;
    width: 100%;
    padding: 25px;
    top: 50px;
}
   
}